version: '2'
services:
  nginxdocker:
    build: ./
    volumes:
       - /ms/miskillstech.com:/ms/miskillstech.com
       - /ms/miskillstech.com/code/runenv-config/ms/core/nginx/etc-supervisor-conf.d:/etc/supervisor/conf.d
       - /ms/miskillstech.com/code/runenv-config/ms/core/nginx/etc-nginx-conf.d:/etc/nginx/conf.d
       - /ms/miskillstech.com/code/runenv-config/ms/core/nginx/site-available:/etc/nginx/sites-available/
       #- /ms/miskillstech.com/code/runenv-config/ms/core/nginx/nginx.conf:/etc/nginx/nginx.conf
       - /var/run/docker.sock:/var/run/docker.sock:ro        # needed for docker events
    ports:
       - "80:80"
       - "443:443"
   networks:
       - ms

networks:
   ms:
    external:
      name: ms_default