version: '2'
services:
  nginxdocker:
    build: ./
    volumes:
       - /hc/miskillstech.com:/hc/miskillstech.com
       - /hc/miskillstech.com/code/runenv-config/hc/core/nginx/etc-supervisor-conf.d:/etc/supervisor/conf.d
       - /hc/miskillstech.com/code/runenv-config/hc/core/nginx/etc-nginx-conf.d:/etc/nginx/conf.d
       #- /hc/miskillstech.com/code/runenv-config/hc/core/nginx/nginx.conf:/etc/nginx/nginx.conf
       - /var/run/docker.sock:/var/run/docker.sock:ro        # needed for docker events
    ports:
       - "86:86"