## following ip addresses have been seen to be allocated by comcast to sc1/pc
allow 73.158.58.0/24;
allow 73.222.34.0/24; # added by VK on 19th dec 2015

## following ip addresses are in ao.grmtech
allow 115.115.208.0/24;
allow 182.75.2.0/24; #  ip given by AG working from ao.grmtech on 13th dec 2015
allow 45.123.12.0/24; # ip given by Meghbela broadband  
allow 115.118.28.0/24; # ip given by Tata Docomo broadband via DHCP
allow 59.165.45.0/24;
allow 72.52.93.0/24;
		
## allow local ip addresses
## Ref: https://www.arin.net/knowledge/address_filters.html
allow 10.0.0.0/8;
allow 192.168.0.0/16;
allow 172.16.0.0/12;

## The below mentioned ip address of Robert Lopaz's home is for accessing JIRA.
allow 108.193.5.0/24;
deny all;